body {
    // background-color: $bg-peach;
    font-family: lato;
}

li {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
}
.container {
    

    @media only screen and (min-width: 768px) {

    }

    @media only screen and (min-width: 1200px) {
        max-width: 1280px;
        padding: 0 55px;
    }
}

input[type="button"] {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
}