// background colors
$bg-osf: #84BC22;
$bg-dark-blue:#1D252F;
$bg-facebook:#3A5B96;
$bg-peach: #E8E2D6;
$bg-grey:#999999;
$bg-dark-grey:#2D343A;
$bg-brown: #45413E;

// colors
$osf-brown: #453F3B;
$black: #000;
$white: #FFF;
$sky: #43C0CF;
$cedar:#3D402F;
$green:#4AAF00;
$blue:#315BBD;
$orange:#EC6115;
$red:#DC041D;
$peach:#EFEAD7;

$transition: all 0.3s ease-in;
