// ------ Categoty Landing Services -----
// ----- Filter -----
.filter-hide {
    display: flex;
    justify-content: center;
    cursor: pointer;
    text-align: center;
    font-size: 13px;
    color: $bg-osf;
    margin-bottom: 20px;

    &:hover {
        opacity: 0.7;
        transition: $transition;
    }

    @media only screen and (min-width: 992px) {
        display: none;
    }
}
 
.filter {
    background-color: $white;
    display: flex;
    color: $osf-brown;
    align-items: center;
    font-size: 14px;
    letter-spacing: -0.3px;
    border-radius: 8px;
    padding: 15px 10px 0;
    max-width: 300px;

    @media only screen and (min-width: 500px) {
        padding: 30px 25px 10px;
        max-width: 330px;
    }

    @media only screen and (min-width: 768px) {
        padding: 40px 0 10px 40px;
        max-width: 738px;
    }

    @media only screen and (min-width: 992px) {
        max-width: 1170px;
    }

    &_display-none {
        display: none;
    }

    &__title {
        display: inline-block;
        width: 70px;
    }

    &__item {
        position: relative;
        margin-bottom: 30px;
        

        @media only screen and (min-width: 768px) {
            width: 270px;
        }

        &_color {
            display: flex;
            align-items: center;
        }
    }

    &__icon {
        display: inline-block;
        color: #A4A19F;
        position: absolute;
        top: 11px;
        left: 255px;
    }

    &__dropdown {
        display: none;
        position: absolute;
        top: 0;
        left: 88.5px;
        background-color: $white;
        padding: 0 0 7px 0;
        z-index: 20;
        width: 200px;

        @media only screen and (min-width: 768px) {
            left: 88px;
        }

        @media only screen and (min-width: 992px) {
            left: 88.5px;
        }
    }

    &__text {
        display: inline-block;
        width: 200px;
        padding: 7px 15px 5px;
        cursor: pointer;

        &_main {
            border: 1.5px solid #A4A19F;
            border-radius: 20px;

            &:hover .filter__dropdown {
                top: 35px;
                display: block;
                border: 1.5px solid #C8C5C3;
                border-top: none;
                border-bottom-left-radius: 20px;
                border-bottom-right-radius: 20px;
            }
        }

        &:hover {
            color: #7C7672;
            border-color: #C8C5C3;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }
    }

    &__color {
        padding: 7px;
        border-radius: 100%;
        background-color: $white;
        margin-right: 7px;
        border: 2px solid $white;
        cursor: pointer;

        &:hover {
            border: 2px solid #A4A19F;
            transition: $transition;
        }

        &_main {
            border: 2px solid #A4A19F;
        }

        &_sky {
            background-color: $sky;
        }

        &_cedar {
            background-color: $cedar;
        }

        &_green {
            background-color: $green;
        }

        &_blue {
            background-color: $blue;
        }

        &_orange {
            background-color: $orange;
        }

        &_red {
            background-color: $red;
        }

        &_peach {
            background-color: $peach;
            margin-right: 0;
        }
    }
}
// ----- // Filter -----

// ----- Products -----
.products {
    &_category {
        background-color: $bg-peach;
        padding-top: 2px;
    }

    &__results {
        font-size: 14px;
        color: $osf-brown;
        text-align: center;
        margin-bottom: 30px;
    }

    &__row_mobile {
        display: flex;
        justify-content: center;
    }

    &__row_tablet-no-display {
        display: none;

        @media only screen and (min-width: 992px) {
            display: flex;
        }
    }

    &__load-more_mobile {
        display: block;
        margin: 45px auto 0;
        text-transform: uppercase;
        color: $white;
        font-size: 14px;
        background-color: $bg-osf;
        border: 1.5px solid #DADADA;
        padding: 10px 32px 8px;
        border-radius: 25px;
        outline: none;
        transition: $transition;

        @media only screen and (min-width: 768px) {
            margin: 70px auto 0;
        }

        @media only screen and (min-width: 992px) {
            margin: 110px auto 0;
        }

        &:active, &:visited, &:focus {
            outline: none;
        }

        &:hover {
            color: $bg-osf;
            background-color: $bg-peach;
            border: 1.5px solid $bg-osf;
        }
    }
}
// ----- // Products -----
// ------ // Categoty Landing Services -----