// ----- 404 error -----
.error-page {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    background-color: $white;
    padding-top: 25px;
    border-radius: 8px;

    @media only screen and (min-width: 768px) {
        flex-direction: row;
        padding: 40px 30px 40px 0;
    }

    @media only screen and (min-width: 1280px) {
        padding: 40px 70px 40px 0;
    }

    &__content_left {
        width: 295px;
        height: 290px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url(../img/background/bg-error.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

        @media only screen and (min-width: 768px) {
            width: 400px;
            height: 316px;
            background-position: -60px;
        }

        @media only screen and (min-width: 1280px) {
            width: 450px;
            height: 366px;
            background-size: auto;
        }   
    }

    &__exclamation {
        color: $bg-osf;
        font-size: 90px;
        font-weight: 900;
        
        @media only screen and (min-width: 768px) {
            font-size: 113px;
        } 
    }

    &__content_right {
        width: 100%;
        height: auto;
        padding: 20px;

        @media only screen and (min-width: 768px) {
            width: auto;
            padding: 0;
            margin-left: 30px;
        }

        @media only screen and (min-width: 1280px) {
            margin: 0;
            width: 570px;
            height: 366px;
        }
    }

    &__title {
        font-size: 22px;
        font-weight: 900;

        @media only screen and (min-width: 992px) {
            font-size: 24px;
        }
    }

    &__subtitle {
        color: #545454;
        font-size: 14px;

        @media only screen and (min-width: 992px) {
            font-size: 16px;
        }
    }

    &__link {
        font-size: 14px;
        display: inline-block;
        color: $bg-osf;
        margin: 15px 0 20px;

        @media only screen and (min-width: 992px) {
            margin: 30px 0 40px;
            font-size: 16px;
        }

        &:visited, &:focus {
            text-decoration: none;
            color: $bg-osf;
        }

        &:hover {
            text-decoration: none;
            opacity: 50%;
            transition: $transition;
        }
    }

    &__search-box {
        border: 1.5px solid #EBE3D7;
        display: flex;
        justify-content: space-between;
        height: 30px;
        border-radius: 40px;
        padding: 0;

        @media only screen and (min-width: 992px) {
            height: 40px;
            border: 2px solid #EBE3D7;
        }
    }

    &__search-text {
        border: none;
        background: none;
        outline: none;
        padding: 0;
        color: #595756;
        font-size: 14px;
        transition: $transition;
        margin-left: 30px;
        width: 80%;

        @media only screen and (min-width: 992px) {
            height: 36px;
            font-size: 16px;
        }
    }

    &__search-btn {
        font-size: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 1px;
        width: 45px;
        height: 26px;
        border-radius: 50%;
        color: #595756;
        transform: scaleX(-1);

        @media only screen and (min-width: 992px) {
            height: 36px;
            font-size: 18px;
            padding-bottom: 4px;
        }

        &:visited, &:focus {
            text-decoration: none;
            color: #595756;
        }

        &:hover {
            text-decoration: none;
            opacity: 50%;
            transition: $transition;
        }
    }
}
// ----- // 404 error -----