// background colors
$bg-osf: #63BD00;
$bg-dark-blue:#1F252F;
$bg-facebook:#1D5B99;
$bg-peach: #F3EDEA;
$bg-grey:#9A9A9A;
$bg-dark-grey:#1F252F;
$osf-brown: #453F3B;

// colors
$black: #000;
$white: #FFF;
$sky: #00C1D1;
$cedar:#393E2A;
$green:#00B000;
$blue:#005BC1;
$orange:#FF6100;
$red:#FF0017;
$peach:#F1EBD7;

$transition: all 0.3s ease-in;
