// ----- OSF Banner -----
.osf-banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: auto;
    height: 185px;
    background-image: url(../img/background/osf-banner.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    color: $white;

        @media only screen and (min-width: 768px) {
            height: 320px;
        }

        @media only screen and (min-width: 1280px) {
            height: 445px;   
        }

    &__heading {
        font-size: 30px;
        font-weight: 900;
        margin-bottom: 20px;

        @media only screen and (min-width: 768px) {
            font-size: 38.49px;
            margin-bottom: 25px;
        }

        @media only screen and (min-width: 1280px) {
            font-size: 48.49px;
            margin-bottom: 30px;
        }
    }
    
    &__subtitle {
        max-width: 286px;
        margin: 0 auto;
        font-size: 14.14px;
        margin-bottom: 25px;

        @media only screen and (min-width: 768px) {
            max-width: 340px;
            margin-bottom: 0;
        }
    }
}
// ----- // OSF Banner -----